@import url(style/fonts.css);
@import url(style/colors.css);
@import url(style/Mobile.css);

#app {
    font-family: var(--font-family-rubik);

    display: flex;
    flex-direction: column;
    align-items: center;
}